# BSD 3-Clause License All rights reserved.
#
# SPDX-License-Identifier: BSD 3-Clause License

[MASTER]
init-hook='import sys; sys.path.append("./")'
max-line-length=150
disable=broad-except,broad-exception-raised
min-public-methods=0
fail-under=9.5
extension-pkg-allow-list=pydantic
max-locals=20
max-args=10
